<!DOCTYPE html>
<html>

<head>
    <title>Add Student</title>
</head>

<body>
    <h1>Add Student</h1>
    <form method="POST" action="/add_student">
        <label for="fName">First Name:</label><br>
        <input type="text" id="fName" name="fName" required><br><br>
        <label for="lName">Last Name:</label><br>
        <input type="text" id="lName" name="lName" required><br><br>
        <label for="Gender">Gender:</label><br>
        <input type="text" id="Gender" name="Gender" required><br><br>
        <label for="Age">Age:</label><br>
        <input type="number" id="Age" name="Age" required><br><br>
        <label for="Contact_ID">Contact ID:</label><br>
        <input type="number" id="Contact_ID" name="Contact_ID" required><br><br>
        <label for="Student_Email">Email:</label><br>
        <input type="email" id="Student_Email" name="Student_Email" required><br><br>
        <label for="Student_Pass">Password:</label><br>
        <input type="password" id="Student_Pass" name="Student_Pass" required><br><br>
        <label for="Address">Address:</label><br>
        <input type="text" id="Address" name="Address" required><br><br>
        <label for="Contact">Contact:</label><br>
        <input type="text" id="Contact" name="Contact" required><br><br>
        <input type="submit" value="Add Student">
    </form>
    <a href="/">Back to Main</a>
</body>

</html>